  
  .pin{
    text-align: justify;
  }
  input[type="text"], input[type="password"] {
    text-align: left;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  
  }
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
  }
  
  .avatar {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }

  
  .login-btn {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .options {
    text-align: left;
    margin: 10px 0;
    font-size: 14px;
  }
  
  .bottom-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .cancel-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .forgot {
    font-size: 14px;
    text-decoration: none;
    color: #333;
  }
  