table {
    width: 70%;
   
  }
  
  th, td {
    border: 1px solid black;
    border-radius: 10px; 
    padding: 10px;
    text-align: center;
    background-color: lightblue;
  }
  section{
    background-color: skyblue;
    border: 1px solid black;
    border-radius: 1px; 
    padding: 5px;
    
    width:30%;
  }

  .pin{
    background-color: yellow;
    color:rgb(13, 15, 16);
    text-align: center;  

  }
  h2{
    color:rgb(14, 14, 74);
    text-align: center;
    margin-block: white;

    
  }
  aside {
    width:40%;
    display: flex;  
    justify-content: center;
    background-color: rgb(243, 247, 242);
    border: 2px solid black;
    padding: 10px ;
   
  }
  
  aside h2 {
    margin: 10px;
    color: rgb(21, 18, 18);
    font-size: 20px;
    cursor: pointer;
  }
  
  